<div ng-include="'partials/filter-results.html'"></div>

<div class="grid-block">
  <div class="grid-content">
    <h1 class="float-left">My Work</h1>
    <a href"#" zf-open="filters" class="hollow button float-right top-margin">Filter Results</a>
  </div>
</div>

<div class="grid-block">

  <div class="grid-content medium-6">
    <div class="card dark">
      <a href="http://micahcourey.github.io/MovieReviewSite">
        <img src="assets/img/movie_talk.png"></a>
      <div class="card-section">
        <h4>Movie Talk</h4>
        <p>A website I built in AngularJS that allows users to write movie reviews. The site includes a dark theme for nighttime viewing which can be enabled by the flip of a switch.</p>
      </div>
    </div>
  </div>

  <div class="grid-content medium-6">
    <div class="card dark">
      <a href="http://micahcourey.github.io/BikePDX">
      <img src="assets/img/bikepdx.png"></a>
      <div class="card-section">
        <h4>BikePDX</h4>
        <p>A website with a map, information, photos and reviews on road bike and mountain bike routes in the Portland, OR area</p>
      </div>
    </div>
  </div>

</div>
