<br>
<div class="grid-container">
  <div class="grid-block">
    <div class="grid-content medium-8">
      <div class="card dark">
        <div class="card-divider center">
          <h1>About Me</h1>
        </div>
        <div class="card-section">
          <p>Three years ago I made a decision to turn my life long interest and fascination in
            technology into a career. At that time I was working as a restaurant Assistant
            Manager at The Trailhead Restaurant in Estes Park, CO. I decided that to achieve
            my new found goals as efficiently as possible I should go back to school full time.</p>

          <p>In November of 2012 I turned in a one month notice at my job and moved back
            home to Georgia. To save money I stayed with my parents while attending school
            full time at Chattahoochee Technical College majoring in Computer Information Systems
            Technology. I enjoyed my classes and I learned a lot while earning my degree and
            in the process I found my biggest passion in technology is in programming and development.</p>

          <p>After I graduated with an Associate's Degree I decided that instead of looking for
            a job in IT I would continue my education to gain all the skills I would need to
            become a Web Developer. After many hours of researching schools and programs all
            across the country I came to the conclusion that Epicodus in the beautiful city of
            Portland, OR was the best place for me. Although I’m very good at learning on my
            own by taking advantage of all the great online learning resources, I felt that a
            program like epicodus would prepare me for all of the non technical skills I wanted
            to improve on such as working on team projects and pair programming.</p>

          <p>In July of 2015 I packed my car to the ceiling and started my 37 hour drive across
            the country. While I made it across the country in one piece, unfortunately
            my cars engine did not. I have learned so many new things at my time at Epicodus
            both technical and nontechnical. I’m really looking forward to starting my career
            in Web Development.</p>
        </div>
      </div>
    </div>
      <div class="grid-content medium-4 float-right">
        <div class="card dark">
          <img src="assets/img/micah.jpg" animation-in="slideInRight" animation-out="">
          <div class="card-section">
            <h3 class="center">Interests</h3>
            <p>Full stack web development, web design, cycling, wake surfing,
              snowboarding, music, poker, tech devices, gadgets, tools and gizmos  </p>
          </div>
        </div>
      </div>
        </div>
      </div>
      <div class="grid-block small-up-12 social-div">
        <div class="grid-content">
          <a href="http://www.github.com/micahcourey"><img class="social square linear spin-ccw" src="assets/img/github.svg"></a>
        </div>
        <div class="grid-content">
          <a href="http://www.linkedin.com/in/micahcourey"><img class="social square linear spin-ccw" src="assets/img/linkedin.svg"></a>
        </div>
        <div class="grid-content">
          <a href="http://www.twitter.com/micahcourey"><img class="social square linear spin-ccw" src="assets/img/twitter.svg"></a>
        </div>
        <div class="grid-content">
          <a href="http://www.soundcloud.com/micahcourey"><img class="social square linear spin-ccw" src="assets/img/soundcloud.svg"></a>
        </div>
      </div>

  </div>
</div>
