
<div class="grid-container">
  <div class="grid-block">
    <div class="grid-content">
      <br>
      <div class="card dark">
        <div class="card-divider center">
            <h1>Contact Micah</h1>
        </div>
        <div class="card-section center">
          <h4>Please feel free to contact me with any questions, comments or interest in
          working with me.</h4><br>
          <h4>You can email me at: <a href="mailto:youremailaddress" class="email">micahjcourey@gmail.com</a></h4><br>
          <h4>Click the links below to check out my Github, Linkedin, Twitter and Soundcloud.</h4>
         </div>
      </div>

      <div class="grid-block small-up-12 social-div">
        <div class="grid-content">
          <a href="http://www.github.com/micahcourey"><img class="social square linear spin-ccw" src="assets/img/github.svg"></a>
        </div>
        <div class="grid-content">
          <a href="http://www.linkedin.com/in/micahcourey"><img class="social square linear spin-ccw" src="assets/img/linkedin.svg"></a>
        </div>
        <div class="grid-content">
          <a href="http://www.twitter.com/micahcourey"><img class="social square linear spin-ccw" src="assets/img/twitter.svg"></a>
        </div>
        <div class="grid-content">
          <a href="http://www.soundcloud.com/micahcourey"><img class="social square linear spin-ccw" src="assets/img/soundcloud.svg"></a>
        </div>
      </div>

    </div>
  </div>
</div>
