
<br>
<div class="grid-container">

  <div class="grid-block center">
    <div class="grid-content">
      <div class="card dark">
        <div class="card-divider">
          <h1>Portfolio</h1>
          <h4>click on any of the photos to check out a live demo</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block">

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/BikePDXWebsite">
        <img src="assets/img/bikepdx.png"></a>
        <div class="card-divider">
          <h6 class="float-right date">October 24th, 2015</h6>
          <h4>BikePDX</h4>
        </div>
        <div class="card-section">
          <p>This is A website with a map, information, photos and reviews on road bike and mountain bike routes in the Portland, OR area. I built it using AngularJS, JavaScript, HTML, CSS and Sass.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/MovieReviewSite">
        <img src="assets/img/movie_talk.png"></a>
        <div class="card-divider">
          <h6 class="float-right date">October 2nd, 2015</h6>
          <h4>Movie Talk</h4>
        </div>
        <div class="card-section">
          <p>A website I built in AngularJS that allows users to write movie reviews. The site includes a dark theme for nighttime viewing which can be enabled by the flip of a switch.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/AttendanceBot">
        <img src="assets/img/attendance_bot.png"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 25th, 2015</h6>
          <h4>Attendance Bot</h4>
        </div>
        <div class="card-section">
          <p>An app that allows students to sign in and out of classes and allows teachers to view the attendance and add new students.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/PizzaPicker">
        <img src="assets/img/pizza_picker.png"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 18th, 2015</h6>
          <h4>Pizza Picker</h4>
        </div>
        <div class="card-section">
          <p>A web app that generates the cost of a pizza order based on the pizza size, toppings and pizza quantity.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/Webflix">
        <img src="assets/img/webflix.png"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 15th, 2015</h6>
          <h4>Webflix</h4>
        </div>
        <div class="card-section">
          <p>A web app which lets a user choose the movie they want to see, the time, and their age then the app generates a their ticket price</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/Webflix">
        <img src="assets/img/piggy.png"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 10th, 2015</h6>
          <h4>gittin' piggy wit it</h4>
        </div>
        <div class="card-section">
          <p>A English to Pig Latin translator built in JavaScript. Enter a English word and it will be translated to Pig Latin.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/TriangleTracker">
        <img src="assets/img/triangle_tracker.png"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 8th, 2015</h6>
          <h4>Triangle Tracker</h4>
        </div>
        <div class="card-section">
          <p>A web app that allows a user to input the length of all 3 sides of a triangle and returns whether the triangle is a equilateral, isosceles or scalene triangle.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/PingPongJavaScript">
        <img src="assets/img/ping-pong.png"></a>
        <div class="card-divider">
          <h6 class="float-right date">June 4th, 2015</h6>
          <h4>Number Ping-Pong</h4>
        </div>
        <div class="card-section">
          <p>This is the first web app I ever built! After only programming for a few weeks I built this simple app as a test to get accepted into Epicodus.</p>
        </div>
      </div>
    </div>

  </div>
</div>
