
<br>
<div class="grid-container">

  <div class="grid-block center">
    <div class="grid-content">
      <div class="card dark">
        <div class="card-divider">
          <h1>Portfolio</h1>
          <h4>click on any of the photos to check out the live site</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block">

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="https://650stories.com" target="_blank">
        <img src="assets/img/650stories.png" alt="photo of 650 Stories website"></a>
        <div class="card-divider">
          <h6 class="float-right date">May, 2018</h6>
          <h4>650 Stories</h4>
        </div>
        <div class="card-section row-1">
          <p>650 Stories is a website I built in collaboration with Web Designer James Hobbs for a freelance project. 650 Stories is an interview series featuring inspiring people from in and around the 650 area code. I built the Frontend in Angular 5 which communitcates with a content API built with the Node.js Strapi Framework. 
            Check out <a href="https://650stories.com" target="_blank" class="links">650stories.com</a> or check out the code in the project's  
          <a href="https://github.com/micahcourey/650stories" target="_blank" class="links">Github repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="https://intently.life" target="_blank">
        <img src="assets/img/intently.png" alt="photo of intently.life web app"></a>
        <div class="card-divider">
          <h6 class="float-right date">Dec, 2018</h6>
          <h4>Intently</h4>
        </div>
        <div class="card-section row-1">
          <p>Intently is an intention and goal setting web application I designed and developed. Intently gives users the power to set daily intentions and track their long-term goals. The clean and intuitive UI makes users want to return everyday, which makes it simple for them to stay on track with their goals. 
            Check out <a href="https://intently.life" target="_blank" class="links">intently.life</a> or check out the code in the project's  
          <a href="https://github.com/micahcourey/intently" target="_blank" class="links">Github repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="https://support.stevens-connect.com" target="_blank">
        <img src="assets/img/stevens-support.png" alt="photo of Stevens Connect support website"></a>
        <div class="card-divider">
          <h6 class="float-right date">April, 2018</h6>
          <h4>Stevens Connect Help Center</h4>
        </div>
        <div class="card-section row-2">
          <p>In my Developer role at Stevens Water Monitoring Systems I both built and created all of the content for the Stevens Connect Help Center. This experience gave me the opportunity to develop my technical writing skills while writing both user how-to articles as well as developer API documentation.
            Check out the <a href="https://support.stevens-connect.com" target="_blank" class="links">Stevens Connect Help Center</a></p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="https://stevens-connect.com" target="_blank">
        <img src="assets/img/stevens-connect.png" alt="photo of Stevens Connect website"></a>
        <div class="card-divider">
          <h6 class="float-right date">February, 2018</h6>
          <h4>Stevens Connect</h4>
        </div>
        <div class="card-section">
          <p>In my Developer role at Stevens Water Monitoring Systems I designed and developed the front-end UI/UX the Stevens Connect web application from the ground up. I worked closely with my teammate Mike Kuvelas who developed the back-end API, to engineer secure, efficient and scalable Angular components.
            Check out <a href="https://stevens-connect.com" target="_blank" class="links">Stevens Connect</a>. While many features require a paid account, feel free to demo some of our <a href="https://stevens-connect.com/public/project/1/dashboard" target="_blank" class="links">Public Dashboards</a> and data analysis tools.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/weather-charts" target="_blank">
        <img src="assets/img/weather-charts.png" alt="photo of Weather Charts website"></a>
        <div class="card-divider">
          <h6 class="float-right date">March 14th, 2016</h6>
          <h4>Weather Charts</h4>
        </div>
        <div class="card-section">
          <p>An app built with React and Redux that allows a user to search for a city or cities and then displays the 5 day weather forecast for the city in chart form.
          Check out the 
             <a href="http://micahcourey.github.io/weather-charts" target="_blank" class="links">live site</a> or check out the code in the project's  
          <a href="https://github.com/micahcourey/weather-charts" target="_blank" class="links">Github repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/youtube-theater" target="_blank">
        <img src="assets/img/youtube-theater.png" alt="photo of Youtube Theater website"></a>
        <div class="card-divider">
          <h6 class="float-right date">March 3rd, 2016</h6>
          <h4>Youtube Theater</h4>
        </div>
        <div class="card-section">
          <p>A more refined and clutter-free interface to search and watch youtube videos. This app, built in React
             makes use of the youtube api to create a theatrical UI for displaying youtube content. Check out the 
             <a href="http://micahcourey.github.io/youtube-theater" target="_blank" class="links">live site</a> or check out the code in the project's   
          <a href="https://github.com/micahcourey/youtube-theater" target="_blank" class="links">Github repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://twaddler.azurewebsites.net" target="_blank">
        <img src="assets/img/twaddler.png" alt="photo of twaddler website"></a>
        <div class="card-divider">
          <h6 class="float-right date">November 28th, 2015</h6>
          <h4>Twaddler</h4>
        </div>
        <div class="card-section">
          <p>A online social networking app that allows users to send messages known as 'twaddles' to one another. I built it using AngularJS, Node.js, Express, MongoDB, HTML and CSS. Signup and post a twaddle! <a href="http://twaddler.azurewebsites.net" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="https://github.com/micahcourey/Twaddler" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/BikePDXWebsite" target="_blank">
        <img src="assets/img/bikepdx.png" alt="photo of BikePDX website"></a>
        <div class="card-divider">
          <h6 class="float-right date">October 24th, 2015</h6>
          <h4>BikePDX</h4>
        </div>
        <div class="card-section">
          <p>A front-end website prototype with a map, information, photos and reviews on road bike and mountain bike routes in the Portland, OR area. I built it using AngularJS, JavaScript, HTML, CSS and Sass. Check out the <a href="http://micahcourey.github.io/BikePDXWebsite" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/BikePDXWebsite" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/MovieReviewSite" target="_blank">
        <img src="assets/img/movie_talk.png" alt="photo of Movie Talk website"></a>
        <div class="card-divider">
          <h6 class="float-right date">October 2nd, 2015</h6>
          <h4>Movie Talk</h4>
        </div>
        <div class="card-section">
          <p>A website I built in AngularJS that allows users to write movie reviews. The site includes a dark theme for nighttime viewing which can be enabled by the flip of a switch. Check out the <a href="http://micahcourey.github.io/MovieReviewSite" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/MovieReviewSite" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

   <!-- <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/AttendanceBot" target="_blank">
        <img src="assets/img/attendance_bot.png" alt="photo of Attendance Bot website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 25th, 2015</h6>
          <h4>Attendance Bot</h4>
        </div>
        <div class="card-section">
          <p>An app that allows students to sign in and out of classes and allows teachers to view the attendance and add new students. Check out the <a href="http://micahcourey.github.io/AttendanceBot" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/AttendanceBot" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div> -->

    <!-- <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/FindReplace" target="_blank">
        <img src="assets/img/find_replace.png" alt="photo of Find & Replace website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 11th, 2015</h6>
          <h4>Find & Replace</h4>
        </div>
        <div class="card-section">
          <p>A JavaScript web app that finds all instances of a word in a block of text and replaces all instances of the found word with a replacement. Check out the <a href="http://micahcourey.github.io/FindReplace" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/FindReplace" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div> -->

    <!-- <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/gettinPiggyWitIt" target="_blank">
        <img src="assets/img/piggy.png" alt="photo of gittin' piggy wit it website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 10th, 2015</h6>
          <h4>gittin' piggy wit it</h4>
        </div>
        <div class="card-section">
          <p>A English to Pig Latin translator built in JavaScript. Enter a English word and it will be translated to Pig Latin. Check out the <a href="http://micahcourey.github.io/gettinPiggyWitIt" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/gettinPiggyWitIt" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/TriangleTracker" target="_blank">
        <img src="assets/img/triangle_tracker.png" alt="photo of Triangle Tracker website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 8th, 2015</h6>
          <h4>Triangle Tracker</h4>
        </div>
        <div class="card-section">
          <p>A web app that allows a user to input the length of all 3 sides of a triangle and returns whether the triangle is a equilateral, isosceles or scalene. Check out the <a href="http://micahcourey.github.io/TriangleTracker" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/TriangleTracker" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/PingPongJavaScript" target="_blank">
        <img src="assets/img/ping-pong.png" alt="photo of Number Ping-Pong website"></a>
        <div class="card-divider">
          <h6 class="float-right date">June 4th, 2015</h6>
          <h4>Number Ping-Pong</h4>
        </div>
        <div class="card-section">
          <p>This is the first web app I ever built! After only programming for a few weeks I built this app as a test to get accepted into Epicodus. Multiples of 3 print as Ping, 5 as Pong, multiples of 3 and 5 as Ping-Pong. Check out the <a href="http://micahcourey.github.io/PingPongJavaScript" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/PingPongJavaScript" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div> -->

  </div>
</div>
